<% if notice %>
  <div class="notice alert alert-success alert-responses">
    <button class="close" data-dismiss="alert">&times;</button>
    <%= notice %>        
  </div>
<% end %>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<%= link_to 'Edit', profile_edit_path %> |
<%= link_to 'Back', users_path %>
