<div class="jumbotron hero hero-contact-us">
  <h1 class="hero-title">Contact Us</h1>
</div>
<div class="container">
  <div class="row">
    <div class="contact-section col-md-5 col-md-offset-1 col-sm-6">
      <h4>EMAIL</h4>
      <p>hello@carosabikes.com</p>
      <h4>PHONE</h4>
      <p>+412 345 6789</p>
      <p>Monday – Friday, 9am – 5pm GMT</p>
    </div>
    <div class="contact-section col-md-6 col-sm-6 text-left anchor-top">
      <%= flash[:notice] %>

      <%= form_tag("/thank_you") do %>
        <div class="form-group">
          <%= text_field_tag :name, nil, class: "form-control", placeholder: "Your Name" %>
        </div>      
        <div class="form-group">
          <%= text_field_tag :email, nil, class: "form-control", placeholder: "Email" %>
        </div>
        <div class="form-group">
          <%= text_area_tag :message, nil, class: "form-control", placeholder: "Message..." %>
        </div>      
      
        <%= submit_tag "Send", class: "btn btn-default" %>
      </div> 
      <% end %>
    </div> 
  </div>   
</div>

