<div class="product-reviews">
  <div class="row">
    <% @comments.each do |comment| %>
    
      <div class="col-md-11 comment-box">
        <p><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
        <div class="rated" data-score="<%= comment.rating %>">Rating: </div>
        <p><%= comment.body %></p>
      </div>
    
    <% end %>
  </div>
  <%= will_paginate @comments %>
</div>