<%= link_to 'New Product', new_product_path %>

<div class="container anchor">

  <p id="notice"><%= notice %></p>
  <p id="notice"><%= @message_no_products %></p>

  <% if notice %>
    <div class="notice alert alert-success alert-responses">
      <button class="close" data-dismiss="alert">&times;</button>
      <%= notice %>        
    </div>
  <% end %>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-4 col-md-4 col-lg-4 item">
        <div class="thumbnail">
          <%= image_tag(product.image_url.thumb, class: "img-responsive") %>
          <div class="caption">
            <h4 class="pull-right"><%= number_to_currency product.price, unit: "€ " %></h4>
            <h4 class="#">
              <%= link_to product.name, product %>
            </h4>
            <p>
              <%= product.description %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <!-- <%= render partial: "product", collection: @products %>  the same as following -->
    <%= render @products %>
  </tbody>
</table>

<br>
