
<div class="container anchor">

  <p id="notice"><%= @message_no_products %></p>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-4 col-md-4 col-lg-4 product-item">
        <%= link_to product do %>
          <%= image_tag(product.image_url.thumb, class: "img-responsive") %>
        <% end %>
        <div class="text-center">   
          <h4>
            <%= link_to product.name, product, class: "text-uppercase product-list-item-title" %>
          </h4>
          <p><%= number_to_currency product.price, unit: "$" %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container-links">
    <% if signed_in? && current_user.admin? %>
      <%= link_to 'New Product', new_product_path %>
    <% end %>
  </div>
</div>
