<%= link_to 'New Product', new_product_path %>

<div class="container anchor">

  <p id="notice"><%= @message_no_products %></p>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-4 col-md-4 col-lg-4 item">
        <div class="thumbnail">
          <%= link_to product do %>
            <%= image_tag(product.image_url.thumb, class: "img-responsive") %>
            <div class="caption">
              <h4 class="pull-right"><%= number_to_currency product.price, unit: "€ " %></h4>
              <h4 class="#">
                <%= link_to product.name, product %>
              </h4>
              <p>
                <%= product.description %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
