
<%= link_to 'Back', products_path %> |
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' } %>

<!--
<% if notice %>
  <div class="notice alert alert-success alert-responses">
    <button class="close" data-dismiss="alert">&times;</button>
    <%= notice %>        
  </div>
<% end %>
-->

<div class="container anchor">
  <div class="row">
    <div class="col-md-12">
      <div class="thumbnail">
        <%= image_tag(@product.image_url.url, class: "img-responsive img-zoom", data_zoom_image: @product.image_url.thumb) %>
        <div class="caption details-text">
          <h3 class="pull-right"><%= number_to_currency @product.price, unit: "$ " %></h3>
          <h2><%= @product.name %></h2>
          <h5 class="description"><%= @product.description %></h5>
          <h4>Average Rating: 
            <div class="rated" data-score="<%= @product.average_rating %>"></div>
          </h4>
          
        <% if signed_in? %> 
          <%= form_tag "/payments/create" do %>
            <%= hidden_field_tag(:product_id, @product.id) %>
            <%= render partial: "shared/stripe_checkout_button", locals: {product: @product} %>
          <% end %>
        <% else %>
          <button type="button" class="btn btn-default active">Login to buy this item</button>
        <% end %>
        
        <%= render 'new_comment' %>
        <%= render 'comments' %>
        </div>
      </div><!-- /thumbnail -->
    </div>
  </div>
</div>
